.qrFB {
  border-radius: 15px;
  padding-top: 10px;
}

input[type="checkbox"] {
  display: none;
}

.container img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type="checkbox"]:checked ~ label > img {
  transform: scale(3);
  cursor: zoom-out;
}
